@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Your Order</h1>
@{
    var imagePath = "~/images/Pizzas/" + (@Model.ImageTitle + ".png");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imagePath class="w-100" asp-append-version="true" />
        <p>Your order for pizza named @Model.PizzaName is ready!</p>
        <p>Total price is: @Model.FinalPrice</p>
        <br />
        <a class="btn alert-primary mt-1 mx-auto purpleButton whiteText" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>