@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor Pizzas</h1>
        <h2 class="mainSubtitle">Razor pizzas are the best ones out there!</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1 purpleButton whiteText" asp-area="" asp-controller="Home" asp-action="Pizza">BRING IT ON</a>
</div>
