@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ComplaintModel

<div class="text-center container">
    <h1>Complaint Form</h1>
    <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 alert-light col-4">

        <input asp-for="Id" hidden />
        <input type="text" asp-for="content"
               placeholder="Enter your complaint" />
        <br />



        <button class="btn alert-primary mt-1 purpleButton whiteText" type="submit">Send</button>
    </form>


   @* <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 alert-light col-4">


        <input asp-for="Id" hidden />

        <input type="text" asp-for="PizzaName" hidden />
        <input type="int" asp-for="FinalPrice" hidden />
        <br />

        <button class="btn btn-danger alert-primary mt-1 purpleButton whiteText" type="submit">Order</button>

    </form>*@

</div>